.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  background-color: cadetblue;
  border-bottom: 1px solid;
  font-size: 10px;
}
.navLink {
  align-items: start !important;
  display: flex;
  flex-direction: row;
}
  